body {
  background-color: grey;
}
h1 {
  color: black;
  float: right;
  font-size: 40px;
}
h2 {
  color: white;
  float: right;
  clear: both;
  font-size: 40px;
}
#blackScore {
  color: black;
  float: right;
  font-size: 40px;
}
#whiteScore {
  color: white;
  float: right;
  font-size: 40px;
}
.button {
  text: white;
  float: right;
  clear: both;
  font-size: 40px;
}
#blacksTurn {
  color: white;
  background-color: black;
  width: 400px;
}
#whitesTurn {
  color: black;
  background-color: white;
  width: 400px;
}
