body {
  background-color: grey;
}
h1 {
  color: black;
  float: right;
  font-size: 40px;
}
h2 {
  color: white;
  float: right;
  clear: both;
  font-size: 40px;
}
#blackScore {
  color: black;
  float: right;
  font-size: 40px;
}
#whiteScore {
  color: white;
  float: right;
  font-size: 40px;
}
.button {
  color: black;
  text: white;
  background-color: hotpink;
  float: right;
  clear: both;
  font-size: 40px;
}
